@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  font-weight: normal;
}

@keyframes dot {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}

.dot {
  animation: dot 1s infinite;
}

.select-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../assets/images/icons/down-arrow.svg');
  background-repeat: no-repeat;
  background-position: right 11px center;
  padding-right: 30px;
}